/* para invcocar um id utilizamos #nomeDoId epara invocar uma classe utilizamos .nomeDaClasse */
.quadrados {
width: 200px;
height: 200px;
background-color: blueviolet;
border: 5px black solid;
}
#foto {
    width: 200px;
    height: 200px;
    border: 5px blue solid;
}
#container {
    border: 5px red solid;
    background-color: aqua;
/* ao invés de utilizarmos os comandos de pading podemos usar a versão abreviada que colocara padding na seguinte ordem: topo, direita, baixo e esquerda */
    padding: 20px 300px 50px 40px;
}